@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

@import url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/tabs.css");

/*font-family: 'Crimson Pro', serif; -main text
font-family: 'Playfair Display', serif; - title
font-family: 'Raleway', sans-serif; -subtitles*/

/*Colors and fonts*/
body{
    background: #CCD2DE;
     font-family:  'Crimson Pro', serif;
  }

  h1 h2{
      font-family: 'Playfair Display', serif;
      color: #C8E0F4;
      font-size: larger;
      font-weight: bolder;
      letter-spacing: 5px;
  }

 h3 {
    font-family: 'Raleway', sans-serif;;
    color: #C8E0F4;
    font-size: large;
    opacity: 0.8;
  } 

  .card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #C8E0F4;
  }

 #test{
  max-width: 100%;
   max-height: 100%;
 }
 
