@import url("components/banner.css");
@import url("components/card.css");

/*font-family: 'Crimson Pro', serif; -main text
font-family: 'Playfair Display', serif; - title
font-family: 'Raleway', sans-serif; -subtitles*/

/*Colors and fonts*/
body{
    background: #15132C;
     font-family:  'Crimson Pro', serif;
  }

  h1 {
      font-family: 'Playfair Display', serif;
      color: #F1FAEE;
      font-size: larger;
      font-weight: bolder;
  }

  .banner p{
    font-family: 'Playfair Display', serif;
    color: #F1FAEE;
    opacity: 0.6;
  } 

