.banner {
    height: 50vh;
    background: linear-gradient(135deg, rgba(160, 159, 161, 0.233) 1%, rgba(59, 59, 94, 0.5) 10%), url("/Images/AmalfiImg/2.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 2px #9b9fbd;
    margin: 20px;
  }

  .banner h1 {
    font-size: 80px;
    font-weight: bolder;
    position: relative;
  }
  
  .banner h2 {
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    position: absolute;
    top: 350px;
  }

  #finnish-lapland-banner{
    background: linear-gradient(135deg, rgba(158, 148, 168, 0.233) 1%, rgba(24, 24, 98, 0.5) 10%), url("/Images/FinnishLaplandImg/NorthernLights.jpg");
    background-size: cover;
  }

  #norway-banner{
    background: linear-gradient(135deg, rgba(158, 148, 168, 0.233) 1%, rgba(24, 24, 98, 0.5) 10%), url("/Images/NorwayImg/Norway1.jpg");
    background-size: cover;
  }

  #sweden-banner{
    background: linear-gradient(135deg, rgba(158, 148, 168, 0.233) 1%, rgba(24, 24, 98, 0.5) 10%), url("/Images/SwedenLapland/chad_abisko_hero_CBlakely1.jpg");
    background-size: cover;
  }

  #japan-banner{
    background-image: url("/Images/JapanImg/2.jpg");
    background-size: cover;
  }
