.btn {
    color: #e0eaf5;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #050505;
    border-color: #dcecfb;
    border-radius: 50px;
  }
  
  .btn:hover {
    color: #22208d;
    border-color: #EAFFFD;
    background-color: #EAFFFD;
    text-decoration-line: none;
    opacity: 0.6;
    text-decoration: none;
    box-shadow: 2px 2px 3px #7C809B;
  }