.btn {
    color: #AFBBC7;
    padding: 10px 15px;
    font-weight: bold;
    background-color: transparent;
    border-color: #AFBBC7;
    border-radius: 50px;
  }
  
  .btn:hover {
    color: #EAFFFD;
    border-color: #EAFFFD;
    background-color: transparent;
    text-decoration-line: none;
    opacity: 0.6;
    text-decoration: none;
    box-shadow: 2px 2px 3px #7C809B;
  }