/*Pics for the cards on index.html*/
/* #Finnish-Lapland {
    background-image: url("/Images/FinnishLaplandImg/photo-1488804297330-2b6016fe2f45.jpg");
} */
/* #Swedish-Lapland{
    background-image: url("/Images/FinnishLaplandImg/NorthernLights.jpg");
} */
/* #Amalfi{
    background-image:url("/Images/AmalfiImg/1.jpg");
}
#Japan{
    background-image: url("/Images/JapanImg/8.jpg");
}
#Norway{
    background-image: url("/Images/NorwayImg/Norway1.jpg");
} */
