/*@import url("imageStyling.css");*/

.itinerary{
    padding: 0;
    margin: 25px;
    position: relative;
    left: 20%;
    max-width: 1266px;
    box-shadow: 1px  #169fbe;
    background-color: #eef3ff;
    display: block;
    border-radius: 0px 15px 0px 15px;
}

.itinerary:hover{
    transition: margin-top 0.5s;
    margin-top: 0;
    box-shadow: 5px 10px 8px #888888;
}

.activity-card{
    display: flex;
    position: relative;
}

.card-image {
    min-width: 30%;
    max-width: 30%;
    margin: 2px;
    padding: 0;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
}

.details-card{
    position: relative;
    align-content: flex-end;
    order: 2;
    margin: 15px;
}


.itinerary-title{
    position: relative;
    margin: 25px;
    padding: 15px;
    left: 30%;
    top: 15px;
    font-weight: 100;
}

h3{
    color: #0E181B;
}

.accesibility{
    position: relative;
    font-size: 23px;
    left: 765px;
    width: fit-content;
    bottom: -12px; 
    margin: 0;
}

.fas, .fab{
    color: #0E181B;
}
.fas:hover, .fab:hover{
    color: #DB6631;
}

.content-short{
    margin: 10px;
    padding: 5px;
    line-height: 2;
   word-spacing: 2px;
   font-size: 20px;
   font-weight: lighter;
}